<div class="navbar shadow-lg bg-neutral text-neutral-content">
  <div class="px-2 mx-2 navbar-start">
    <span class="text-lg font-bold">
      Video Conference
    </span>
  </div> 
  <div class="hidden px-2 mx-2 navbar-center lg:flex">
    <span>
      <%= room %>
    </span>
  </div> 
  <div class="navbar-end px-2 mx-2">
    <button class="btn btn-error ml-auto" id="leave-room">
      Leave
    </button>
  </div>
</div>