<%- include('partials/header') %> 

    <%- include('partials/navbar'), { room }  %> 
    <div id="video-chat-container" class="video-position" style="display: none">
      <video id="local-video" class="rounded-lg" autoplay="autoplay" muted="muted"></video>
      <video id="remote-video" autoplay="autoplay"></video>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const ROOM_ID = "<%= room %>"
    </script>
    <script type="text/javascript" src="/script.js"></script>
    
<%- include('partials/footer')  %> 
