body {
  margin: 0;
  font-size: 20px;
  height: 100vh;
  width: 100vw;
}

#video-chat-container {
  height: calc(100vh - 4rem);
  background-color: black;
}

#local-video {
  position: absolute;
  height: 30%;
  /* width: 30%; */
  bottom: 10px;
  left: 10px;
}

#remote-video {
  height: 100%;
  width: 100%;
}